.map-box {
	max-width: 100vw;
	display: block;
	padding: 16px;
	overflow-y: hidden;
	overflow-x: scroll;
}

.map {
	display: flex;
	flex-wrap: wrap;
	user-select: none;
	> div {
		user-select: none;
		width: 32px;
		height: 32px;
		background-repeat: no-repeat;
		border: 1px solid #fff;
		background-color: #f0f0f0;
		&:nth-child(10n+1) {
			background-color: #e0f0f0;
		}
		&:hover {
			background-color: #def;
			border-color: #def;
		}
		&[style*="url("] {
			background-color: #fff;
			border-color: #fff;
		}
		&.trigger {
			background-color: rgba(200, 128, 255, 156);
		}
	}
}
